---
---
@charset "utf-8";

@font-face {
  font-family: "GT Pressura";
  src: url('/assets/fonts/gt-pressura/GT-Pressura-Mono-Light.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/gt-pressura/GT-Pressura-Mono-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/gt-pressura/GT-Pressura-Mono-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/gt-pressura/GT-Pressura-Mono-Light.woff') format('woff'), /* Pretty Modern Browsers */
         url('/assets/fonts/gt-pressura/GT-Pressura-Mono-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@mixin media-query($device) {
  @media screen and (max-width: $device) {
      @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "tachyons/tachyons-sass/tachyons.scss",
  "variables",
  "base",
  "custom",
  "syntax-highlighting"
;
