---
layout: index
---

<div class="mw9 center">
  {% include about-content.html %}

  <div class="pa3 pa4-m pa5-l clearfix">
    <h2 class="relative z-2 nr4-ns fl w-100 w-20-ns f2 f1-ns mt0 mb3 tr-ns">Speaking</h2>
    <ul class="bg-brand-pink fl w-100 w-80-ns list pa3 ph4-m pa6-ns pb5-ns mb4 mb6-ns">
      {% for post in site.posts %}
        {% if post.speaking_event %}
          <li class="dib mb4 mb5-ns">
            <div class="f4 f3-ns monospace">{{ post.date | date: '%Y' }} <span class="brand">/</span> {{ post.speaking_event }}</div>
            <a class="lh-title f3 f2-ns brand link dim" href="{{ post.link_url }}">{{ post.title }}</a>
            <div class="mt3 brand measure-wide">{{ post.intro }}</div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    <h2 class="f2 f1-ns mt0 mb3">Writing</h2>
    <div class="ph4-ns pb4-ns">
      {% for post in site.posts %}
        {% if post.permalink or post.external_post %}
          <article class="dib w-100 w-80-m w-40-l pa3 pa4-ns">
            <div class="f4 f3-ns brand monospace">{{ post.date | date: '%Y' }}</div>
            <a class="lh-title f3 f2-l" href="{% if post.link_url and post.external_post %}{{ post.link_url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{{ post.title }}</a>
            <div class="mt3 measure-wide">{{ post.intro }}</div>
          </article>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
