---
layout: default
---

<div class="wrapper">

  <section class="description center">
    <span class="bold">Kat Fukui</span><br />
    {{ site.description }}
    {% include social-media.html %}
  </section>

  <section class="post-list">
    <ul class="work">
      {% for post in site.posts %}
        <li class="work-thumb">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            <span>
              <h2>{{ post.title }}</h2>
            </span>

              <img src="{{ post.thumbnail }}" alt="{{ post.title }}" />

          </a>
        </li>
      {% endfor %}
    </ul>

</div>
