<section class="about full-bleed fadeInAmate">
	<div class="about-left about-holla"></div>

	<div class="about-right about-text about-hacky">
		<h2>Hi, I'm Kat—</h2>
		<p>a product designer from California. I want to build things that are empowering and important to people. I'm often thinking about design's increasing role in tech + the world, and how to keep improving.</p>

		<p>Just finished up a fellowship making cool stuff in a tiny, but inspiring design lab at <a href="http://www.sequoiacap.com">Sequoia Capital</a>. Now, I'm looking for my next endeavor!</p>
	</div>

	<div class="about-right about-holla2 about-hacky"></div>

	<div class="about-left about-contact">
			<h2>Get in touch—</h2>
			<ul>
				<li><a href="mailto:katherinefukui@gmail.com" target="_blank">Email</a> - <a href="images/resume.pdf">CV</a> - <a href="http://www.linkedin.com/in/katfukui" target="_blank">LinkedIn</a></li>
				<li>&nbsp;</li>
				<li><a class="twitter" href="http://www.twitter.com/katfukui" target="_blank">Twitter</a></li>
				<li><a class="dribbble" href="http://www.dribbble.com/katfukui" target="_blank">Dribbble</a></li>
        <li><a class="instagram" href="http://goo.gl/60klec" target="_blank">Instagram</a></li>
				<li>&nbsp;</li>
				<li><img src="/images/v.png" width="50" height="50" /></li>
			</ul>
	</div>

	<div class="about-right about-text">
		<p>I love unconventional layouts, CSS grids, beautiful type, and storyboards. I'm constantly trying new things and experimenting. Right now, I'm bouldering and throwing food into a slower cooker.</p>

		<p>From very early on, I was diagnosed with Cat Lady Syndrome and thus have an impulsive obsession to love and gawk over all cats, real or <a href="https://itunes.apple.com/us/app/neko-atsume-kitty-collector/id923917775?mt=8" target="_blank">digital</a>. I spend too much time spoiling my cats Momo, Aki, and <a href="http://www.instagram.com/mishka5ever" target="_blank">Mishka</a>. If you or a loved one also suffer from CLS, my support group meets every Caturday.</p>
	</div>
</section>
