<div class="vh-75 vh-50-ns dt mt4 mt5-ns ph3 ph6-l fadeInAmate">
	<div class="dtc v-mid">
    <h1 class="f2 f1-ns lh-title">
      Kat Fukui / Product designer
    </h1>
		<div class="w-100 w-60-ns fr-ns f4 f3-l mb3 mb5-ns">
			<p>I'm building safer, inclusive communities at <a href="http://www.github.com">GitHub</a>. ❤️ Previously designed at <a href="http://sequoiacreativelab.com">Sequoia Creative Lab</a> and <a href="http://www.everlaw.com">Everlaw</a>. Helped build <a href="https://www.storiesofsolidarity.org">Stories of Solidarity</a>, a platform for stories of precarious laborers.</p>
		</div>
	</div>
</div>
