<ul class="social-media-list">
  <li>
    {% include icon-twitter.html %}
  </li>
  <li>
    <a href="http://dribbble.com/katfukui" target="_blank"><img src="/images/icon-dribbble.svg" width="20" height="20" alt="dribbble" /></a>
  </li>
  <li>
    <a href="http://www.instagram.com/katfukui" target="_blank"><img src="/images/icon-instagram.svg" width="20" height="20" alt="dribbble" /></a>
  </li>
  <li><a href="mailto:{{ site.email }}"><img src="/images/icon-email.svg" width="20" height="20" alt="email" /></a></li>
</ul>
