<div class="page-content">
  <div class="index-wrapper">
    <section class="thoughts-list fadeInAmate" id="work">
      <h2>Thoughts</h2>

      <ul>
        {% for post in site.posts %}
          {% if post.categories contains 'thoughts' %}
            <li class="thoughts-piece">
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                <h3>{{ post.title }}</h3>
              </a>
              <p class="thoughts-blurb">{{ post.intro }}</p>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
  </div>
</div>
