/*===================================
_about.scss
*==================================*/

.about {

	.about-left {
		@include j-column(0.4);
	}

	.about-right {
		@include j-column(0.52);
		float: right;
	}

	.about-left, .about-right {
		@media (max-width: 700px) {
			@include j-column(1);
			float: none;
		}
	}

	.about-hacky {
		margin-right: 0;
	}

	.about-holla {
		background: url(../images/me.png);
		background-size: cover;
		height: 640px;

		@media (max-width: 700px) {
			width: 100%;
			height: 400px;
		}
	}

	.about-holla2 {
		background: url(../images/kitties.jpg) center center;
		background-size: cover;
		height: 430px;
		margin-top: ms(3);
	}

	.about-holla, .about-holla2 {
		@media (max-width: 700px) {
			width: 100%;
		}
	}

	.about-text {
		padding: ms(3) 8% 0 0;
		box-sizing: border-box;

		@media (max-width: 700px) {
			padding: ms(1) ms(0) 0 ms(0);
		}
	}/* About me text */

	.about-contact {
		margin-top: ms(3);
		padding-right: 6%;
		text-align: right;

		li {
			display: block;
			margin: 0 0 ms(-1) 0;
		}

		@media (max-width: 700px) {
			margin-top: ms(1);
			padding: 0 ms(0);
			text-align: left;

			ul {
				margin: 0 0 ms(0) 0;
			}
		}
	} /* Links and site info */
}
