/*===================================
_base.scss
*==================================*/

html, body,
blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

/* Basic styles */
html {
	font-kerning: none; // Set the default for kerning
	font-synthesis: none; // Don't allow the font to create sythetic bold/italic
	text-rendering: optimizeLegibility; // Improve kerning pairs. Caution: Webkit gets funny with this sometimes
	-webkit-font-smoothing: antialiased;
}

body {
  font-weight: $base-font-weight;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
  background-color: $background-color;
  letter-spacing: $sans-serif-letter-spacing;

  @include media-query($mobile) {
    font-size: 1rem;
  }
}

em {
  font-family: $serif;
}

mark {
	display: inline;
	color: $text-color;
	@include j-cf();
}


a {
  color: $text-color;
  text-decoration: underline;
  cursor: pointer;

  &:visited {
    color: $text-color;
  }

  &:hover {
    text-decoration: none;
    background-color: $yellow;
  }
}



/* Blockquotes */
blockquote {
  color: $brand-color;
  font-size: 1.8rem;
  font-family: $base-font-family;
  margin: ms(3) ms(2);

  > :last-child {
      margin-bottom: 0;
  }

  @include media-query($mobile) {
    font-size: 1.5rem;
    margin: ms(1) ms(0);
  }
}



/* Code format */
pre,
code {
    font-size: 15px;
    border: 1px solid $gray;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


/* Wrapper */
.wrapper {
  @include j-center($max_width: 1600px, $pad: 6%);
  @include j-cf();
	@include media-query($mobile) {
    padding-left: 3%;
    padding-right: 3%;
  }
}

/* Icons*/
.icon {
  > svg {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;

    path {
        fill: $text-color;
    }
  }
}
