.card-container {
  display: table;
  width: 100%;
}

.card {
  height: ms(5);
  box-sizing: border-box;
  display: table-cell;
  margin-bottom: $rhythm;
  padding: ms(0);
  border: 2px solid $mid-gray;
  border-radius: 3px;
}

.card:hover {
  background-color: transparent;
  border-color: $dark-gray;

  span {
    background-color: $yellow;
  }
}
