/**
 * Index page
 */

.description {
	@include j-cf();
	margin: $rhythm-more 0;

	.description-left {
		@include j-column(5/7);
		min-width: 450px;
		color: $brand-color;
		line-height: 1.2;
		text-decoration: underline;
	}

	.description-title {
		// background: yellow;
		//background-image: -webkit-linear-gradient(left, $yellow, #FFCC33);
	}
}

/* container for each work thumbnail */
.work {
	@include j-cf();
	margin-left: 0;
	list-style: none;

	a, a:visited {
		border: none;
		color: $text-color;
	}

	.work-thumb {
		position: relative;
		margin-bottom: ms(3);
		height: 590px;
		overflow: hidden;
		@include j-column(1/2); //for all thumbs 4+

		@media (max-width: 500px) {
			@include j-column(1, $cycle: 1);
			height: 400px;
		}

		&:nth-child(1) {
			@include j-span(6/8);
			float: right;

			// img {
			// 	height: auto;
			// }

			@media (max-width: 500px) {
				img { height: 100%; }
			}
		}

		&:nth-child(2) {
			@include j-column(5/8);
		}

		&:nth-child(3) {
			@include j-column(3/8);

			h2 {
				font-size: ms(1);
			}
		}

		// &:nth-last-child(-n+2) {
		// 	margin-bottom: 0;
		// } /* remove margin from last two posts */

		&:nth-child(2), &:nth-child(3) {
			@media (max-width: 500px) {
				@include j-column(8/8, $cycle: 1);
			}
		}
	}/* work-thumb */
}

figure.work-effect {
	height: 100%;

	img {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		height: 100%;
		width: auto;
		max-width: none;
	}

	figcaption {
		top: auto;
		bottom: 0;
		height: 63px;
		width: 100%;
		padding: 0 ms(1);
		background: black;
		position: absolute;
		-webkit-transition: -webkit-transform 0.35s;
		transition: transform 0.35s;
		-webkit-transform: translate3d(0,100%,0);
		transform: translate3d(0,100%,0);

		@media (max-width: 500px) {
			display: none;
		}
	}

	h2 {
		float: left;
		margin-bottom: 0;
		line-height: 63px; //figcaption height
	}

	h2, p.post-caption {
		color: $white;
		-webkit-transition: -webkit-transform 0.35s;
		transition: transform 0.35s;
		-webkit-transform: translate3d(0,200%,0);
		transform: translate3d(0,200%,0);
	}

	p.post-caption {
		float: right;
		display: inline-block;
		line-height: 30px;
		padding-top: ms(0);
		border-bottom: 3px solid $white;
	}

	&:hover figcaption,
	&:hover h2,
	&:hover p.post-caption {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	} /* translate figcaption and contents up */

	&:hover h2 {
		-webkit-transition-delay: 0.05s;
		transition-delay: 0.05s;
	} /* header comes in after figcaption */

	&:hover p.post-caption {
		-webkit-transition-delay: 0.15s;
		transition-delay: 0.15s;
	} /* caption comes in after header */

	@media (max-width: 500px) {
		width: 100%;
		height: 400px;
	}
}/* hover animation */

/* Dribbble feed */
.dribbble-wrapper {
	width: 100%;
	padding: $rhythm 0;
	@include j-cf();
}

.dribbble-feed {
	@include j-cf();
}

.shot {
	@include j-column(1/3);

	&:hover {
		opacity: 0.8;
		transition: $transition;
	}

	@media (max-width: 500px) {
    width: 100%;
  }
}
