/*===================================
_index.scss
*==================================*/
/* Index page */
.index-wrapper {
	@include j-center($max-width: 800px, $pad: 0);
}

.index-description {
	padding-bottom: ms(3);

	@include media-query($mobile) {
		padding-bottom: ms(0);
		max-width: 100%;
	}
}

.index-description-title {
	line-height: 1.2;
	text-decoration: underline;
}

/* Container for each work thumbnail */
.work {
	@include j-cf();
	margin-left: 0;
	list-style: none;

	a, a:visited {
		border: none;
		color: $text-color;
	}
}

.work-thumb {
	position: relative;
	margin-bottom: ms(3);
	height: 610px;
	overflow: hidden;
	@include j-column(1/2); //for all thumbs 4+

	&:nth-child(1) {
		@include j-span(6/8);
		float: right;
	}

	&:nth-child(2) {
		@include j-column(5/8, $cycle: 2);
	}

	&:nth-child(3) {
		@include j-column(3/8);

		h2 {
			font-size: ms(1);
		}
	}

	@include media-query($laptop) {
		@include j-column(1, $cycle: 1);
		height: 500px;

		&:nth-child(1) {
			@include j-column(1, $cycle: 1);
		}

		&:nth-child(2), &:nth-child(3) {
			@include j-column(1/2);
		}
	}

	@include media-query($mobile) {
		height: 400px;

		&:nth-child(2), &:nth-child(3) {
			@include j-column(8/8, $cycle: 1);
		}
	}
}

figure.work-effect {
	height: 100%;

	img {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		height: 100%;
		width: auto;
		max-width: none;
	}

	figcaption {
		top: auto;
		bottom: 0;
		height: 63px;
		width: 100%;
		padding: 0 ms(1);
		background: black;
		position: absolute;
		-webkit-transition: -webkit-transform 0.35s;
		transition: transform 0.35s;
		-webkit-transform: translate3d(0,100%,0);
		transform: translate3d(0,100%,0);

		@include media-query($laptop) {
			padding: 0 ms(-1);
		}
	}

	h2 {
		float: left;
		margin-bottom: 0;
		line-height: 63px; //figcaption height

		@include media-query($laptop) {
			font-size: ms(1);
		}
	}

	h2, p.post-caption {
		color: $white;
		-webkit-transition: -webkit-transform 0.35s;
		transition: transform 0.35s;
		-webkit-transform: translate3d(0,200%,0);
		transform: translate3d(0,200%,0);
	}

	p.post-caption {
		float: right;
		display: inline-block;
		line-height: 30px;
		padding-top: ms(0);
		border-bottom: 3px solid $white;

		@include media-query($laptop) {
			font-size: ms(0);
		}
	}

	&:hover figcaption,
	&:hover h2,
	&:hover p.post-caption {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	} /* translate figcaption and contents up */

	&:hover h2 {
		-webkit-transition-delay: 0.05s;
		transition-delay: 0.05s;
	} /* header comes in after figcaption */

	&:hover p.post-caption {
		-webkit-transition-delay: 0.15s;
		transition-delay: 0.15s;
	} /* caption comes in after header */

	@include media-query($mobile) {
		width: 100%;
		height: 400px;
	}
}/* hover animation */



/* Dribbble feed */
.dribbble-wrapper {
	width: 100%;
	padding: $rhythm 0;
	@include j-cf();
}

.dribbble-feed {
	@include j-cf();
}

.shot {
	@include j-column(1/3);

	&:hover {
		opacity: 0.8;
		transition: $transition;
	}

	@include media-query($mobile) {
    width: 100%;
		margin-bottom: ms(1);
  }
}
