/**
 * Site header
 */
.site-header {
  top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	padding: 0;
	z-index: 100;
}

.nav {
  position: relative;
  @include j-center($max-width: 1600px);
  padding-top: ms(1);
  display: block;

  ul.nav-right {
    float: right;

  	li {
  		margin: 0 $rhythm;
  		display: inline-block;
  	}
  }

  .logo a, .contact a, .logo a:hover,
  .contact a:hover, div a, div a:hover, img a {
  	border: none;
  }

  .logo {
  	float: left;
    vertical-align: middle;
  	width: 35px;
  	height: 35px;
  	margin-left: ms(1);

    &:hover {
      background-color: yellow;
      polygon, rect { fill: $text-color; }
    }
  }
} /* nav */

/**
 * Page content
 */
.page-content {
  padding-bottom: $rhythm;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0; //leave room for #work
  padding-top: ms(5);
  list-style: none;

  > li {
      margin-bottom: $spacing-unit;
  }

  @media (max-width: 500px) {
		padding-top: $rhythm;
	}
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
  padding: $rhythm-more 0;

  ul {
    @include j-column(1/3);
    margin: 0 0 ms(1) 0;
    list-style-type: none;
  }

  li.post-meta {
  	//display: inline-block;
    font-size: ms(0);
    margin-bottom: ms(0);

    .post-meta-title {
      color: $teal;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .post-description {
    @include j-column(2/3);
  }
}

.post-title {
  margin-bottom: $rhythm;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
  font-family: $serif;

  .full-bleed img {
    max-width: 100%;
  }
}

.post-wrapper {
  max-width: 700px;
  margin: 0 auto;

  img {
    max-width: 700px;
    width: 100%;
    margin: $rhythm 0;

    > :last-child {
        margin-bottom: 0;
    }
  }

  > :last-child {
      padding-bottom: 0;
  }
}

.post-wrapper-900 {
  max-width: 900px;
  margin: 0 auto;
}

/* Full bleed sections with no extra padding */
.full-bleed {
	@include j-center($max_width: 1600px);
	width: 100%;
	@include j-cf();
}

/* Post image styles */
.full-bleed-image {
  img {
    width: 100%;
  }
}

.midsize-image {
  max-width: 1200px;
  background: inherit;
  margin: $rhythm-more auto;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }
}

/* For full-bleed sections with
background colors and padding */
.color-wrapper {
	width: 100%;
  padding: $rhythm-more 0;
	@include j-cf();

	@media (max-width: 500px) {
		padding-top: $rhythm;
		margin-bottom: $rhythm;
	}
}
