/*===================================
_layout.scss
*==================================*/

/* Site header */
.site-header {
  top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	padding: 0;
	z-index: 100;
}

.nav {
  position: relative;
  @include j-center($max-width: 1600px);
  padding-top: ms(1);
  display: block;

  ul.nav-right {
    float: right;

  	li {
  		margin: 0 $rhythm-less;
  		display: inline-block;

      @include media-query($mobile) {
    		margin: 0 ms(1);
    	}
  	}
  }

  .logo a, .contact a, .logo a:hover,
  .contact a:hover, div a, div a:hover, img a {
  	border: none;
  }

  .logo {
  	float: left;
    vertical-align: middle;
  	width: 35px;
  	height: 35px;
  	margin-left: ms(1);

    &:hover {
      background-color: yellow;
      polygon, rect { fill: $text-color; }
    }

    @include media-query($mobile) {
  		margin-left: ms(0);
  	}
  }

  @include media-query($mobile) {
    padding-top: ms(0);
  }
} /* nav */



/* Pages */
.page-content {
  margin-top: $rhythm-more;

  @include media-query($mobile) {
    margin-top: ms(4);
  }
}



/* Full bleed sections with no extra padding */
.full-bleed {
	@include j-center($max_width: 1600px);
	width: 100%;
	@include j-cf();
}



/* Post image styles */
.full-bleed-image {
  img {
    width: 100%;
  }
}

.midsize-image {
  max-width: 1200px;
  background: inherit;
  margin: $rhythm-more auto;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 700px) {
    margin: ms(1) auto;
  }
}



/* For full-bleed sections with
background colors and padding */
.color-wrapper {
	width: 100%;
  padding: $rhythm-more 0;
	@include j-cf();

	@include media-query($mobile) {
		padding: $rhythm 0;
	}
}
