.paginate {
	@include j-cf();
	border-top: 1px solid $midgray;
	border-bottom: 1px solid $midgray;
}

.paginate-left,
.paginate-right,
.paginate-home {
	padding: $rhythm-more 0;

  @media (max-width: 588px) {
	   padding: $rhythm 0;
	}
}

a.paginate-left:hover,
a.paginate-right:hover,
a.paginate-home:hover {
  transition: $transition;
  background-color: $brand-color;
  color: white;
}

.paginate-left, .paginate-right {
	@include j-span(4/9);
	text-align: center;

	@media (max-width: 588px) {
		width: 40%;
	}
}

.paginate-home {
	@include j-span(1/9);
	text-align: center;
	margin: 0 -1px;
	border-left: 1px solid $midgray;
	border-right: 1px solid $midgray;

	@media (max-width: 588px) {
		width: 20%;
	}
}

.paginate-left-text, .paginate-right-text {
	@media (max-width: 588px) {
		display: none;
	}
}
