/*===================================
_posts.scss
*==================================*/
/* List of posts and writing */
.post-list,
.thoughts-list {
  margin-left: 0; //leave room for #work

	> ul {
		list-style: none;
		margin-left: 0;
	}

  > li {
      margin-bottom: $rhythm;
  }

  @include media-query($mobile) {
		padding-top: 0;
	}
}

.thoughts-list {
	.thoughts-piece {
		padding-bottom: $rhythm;

		&:last-child {
			padding-bottom: 0;
		}
	}

	.thoughts-blurb {
		font-family: $serif;
	}
}

.post-link {
  font-family: $base-font-family;
  font-weight: 700;
  font-size: ms(0);
}

/* Thoughts Styling */
.thoughts-header {
  padding: ms(3) 0;
}

.thoughts-title {
  > h1,
  > h4 {
    margin-bottom: 0;
  }

  > h4 {
    color: $white;
  }
}

/* Post Styling */
.post-header {
  padding: $rhythm-more 0;

  ul {
    @include j-column(1/3);
    margin: 0 0 ms(1) 0;
    list-style-type: none;
  }

  li.post-meta {
    font-size: ms(0);
    margin-bottom: ms(0);

    .post-meta-title {
      color: $teal;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include media-query($mobile) {
      display: inline;
      @include j-column(1/3);
    }
  }

  .post-description {
    @include j-column(2/3);
  }

  ul, .post-description {
    @include media-query($mobile) {
      @include j-column(1);
    }
  }
}

.post-title {
  margin-bottom: $rhythm;

    @include media-query($laptop) {
        font-size: 36px;
    }
}

.post-content {
  font-family: $serif;
  letter-spacing: $serif-letter-spacing;

  .full-bleed img {
    max-width: 100%;
  }

  @include media-query($mobile) {
    letter-spacing: $m-serif-letter-spacing;
  }
}

.post-wrapper {
  max-width: 700px;
  margin: 0 auto;

  img {
    max-width: 700px;
    width: 100%;
    margin: $rhythm 0;

    > :last-child {
        margin-bottom: 0;
    }

    @include media-query($mobile) {
  		margin: 0;
  	}
  }

  > :last-child {
      padding-bottom: 0;
  }

  @include media-query($mobile) {
    padding: 0 ms(0);
  }
}

.post-wrapper-900 {
  max-width: 900px;
  margin: 0 auto;
}
