h1, h2, h3, h4, h5 {
	display: inline-block;
	font-family: $title-font;
	font-size-adjust: 0.508;
	font-weight: bold;
	font-style: normal;
	letter-spacing: $sans-serif-letter-spacing;
}

h2, h3, h4, h5 {
	text-decoration: none;
}

h1 {
	font-size: ms(3);
	//border-bottom: 4px solid $text-color;

	@media (min-width: 1601px) {
			font-size: 80px;
		}

	a, a:visited {
		border: none;
		color: $text-color;
	}
	a:hover {
		border: none;
		color: $orange;
	}

	@media (max-width: $mobile) {
    font-size: 2rem;
  }
} /* Index project list titles */

h2 {
	font-size: ms(2);

	@media (max-width: 700px) {
		font-size: 30px;
		line-height: 1.1;
	}
}

h3 {
	font-size: ms(1);

	@media (max-width: $mobile) {
		font-size: 23px;
	}
}

h4 {
	text-transform: uppercase;
	font-size: ms(0);
}
