/*===================================
_utility.scss
*==================================*/

/* Clearfix */
.clearfix { @include j-cf(); }

/* Flexbox */
.d-flex { display: flex; }

.flex-wrap { flex-wrap: wrap; }

/* Text and typography */
.left { text-align: left; }

.text-center { text-align: center; }

.right { text-align: right; }

.italic { font-style: italic; }

.bold {
	font-weight: bold;
	font-family: $title-font;
}

.monospace { font-family: $monospace; }

.serif { font-family: $serif; }

.text-gray { color: $dark-gray; }

.text-capitalize { text-transform: capitalize; }

.text-transform-none { text-transform: none; }

.list-style-none { list-style: none; }

/* Display */
.v-hidden { visibility: hidden; }

/* Borders */
.border-top {
	border-top: 1px solid $dark-gray;
	padding-top: $rhythm;
}

/* Quick columns */
.half { @include j-column(1/2); }

.one-third { @include j-column(1/3); }

.two-thirds { @include j-column(2/3); }

.half, .one-third, .two-thirds {
	@media (max-width: 500px) {
		@include j-column(1);
	}
}


/* Color backgrounds */
.base-bg { background-color: $background-color; }

.gray { background-color: $gray; }

.white { background-color: $white; }

.beige { background-color: $beige; }

.navy {
	background-color: $navy;
	color: $white;
	h2 {
		color: $brand-color;
	}
}

.teal {
	background-color: $teal;

	h4 {
		color: $white;
	}
}


/* Color text */
.twitter {
	a, a:visited {
		color: $twitter;
	}
}

.instagram {
	a, a:visited { color: $instagram; }
}

.dribbble {
	color: $dribbble;
}
