// Modular Scale
$ms-base:          1rem;
$ms-ratio:         $fifth;
$rhythm-less:      ms(1);
$rhythm:           ms(2);
$rhythm-more:      ms(4);

// Typography
$serif:            "PT Serif", serif;
$monospace:        "Roboto Mono", monospace;
$base-font-family: $monospace;
$title-font:       $monospace;
$base-font-size:   20px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$sans-serif-letter-spacing: -0.037em;
$serif-letter-spacing: -0.01em;

// Mobile typography
$m-font-size:      18px;
$m-sans-serif-letter-spacing: -0.02em;
$m-serif-letter-spacing: -0.009em;

// Media queries
$mobile:           600px;
$laptop:           880px;

// Colors
$text-color:       #302D2C;
$background-color: #ffffff;
$brand-color:      #FF3D0C;
$orange:           #FE9B1E;
$mauve:            #f78c62;
$teal:             #94C7B6;
$white:            #ffffff;
$beige:            #EFE8DC;
$gray:             #eeeeee;
$mid-gray:         darken($gray, 12%);
$dark-gray:        darken($gray, 25%);
$navy:             #1C1F33;
$yellow:           yellow;
$twitter:          #55acee;
$instagram:        #3f729b;
$dribbble:         #ea4c89;

// Misc
$transition: all 0.2s ease-in-out 0s;
