// Typography
$serif:            "PT Serif", serif;
$monospace:        "Roboto Mono", monospace;
$base-font-family: $monospace;
$title-font:       $monospace;
$base-font-size:   1.25rem;
$base-font-weight: 300;
$base-line-height: 1.5;
$sans-serif-letter-spacing: -0.037em;
$serif-letter-spacing: -0.01em;

// Media queries
$mobile:           600px;
$laptop:           880px;

// Colors
$text-color:       #302D2C;
$background-color: #ffffff;
$brand-color:      #fe0900;
$orange:           #FE9B1E;
$brand-pink:       #ffe0e5;
$dusty-pink:       #E1AD9D;
$teal:             #94C7B6;
$white:            #ffffff;
$beige:            #EFE8DC;
$gray:             #eeeeee;
$mid-gray:         darken($gray, 12%);
$dark-gray:        darken($gray, 25%);
$navy:             #1C1F33;
$yellow:           yellow;

// Misc
$transition: all 0.2s ease-in-out 0s;
