---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="pv5 tc" style="background-image: -webkit-linear-gradient(45deg, {{ page.gradient }})">
    <h1 itemprop="headline">{{ page.title }}</h1><br>
    <div class="w-50-ns center">
      {% if page.intro %}
        <div class="f5 f4-ns serif">{{  page.intro }}</div>
      {% endif %}
      <span class="f6 b-ns black-50">{{ page.date | date: '%b %d, %Y' }}</span>
    </div>
  </header>

  <div class="serif fadeInAmate" itemprop="articleBody">
    {{ content }}
  </div>

  {% include pagination.html %}

</article>
