---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="w-100 ph4 ph0-ns pv4 pv5-ns tc bg-brand-pink brand">
    <h1 class="f2 f1-ns lh-title mb3 measure" itemprop="headline">{{ page.title }}</h1>

      {% if page.intro and page.meta %}
        <div class="clearfix">
          <ul class="fl w-100 w-40-ns list f5">
            {% for meta in page.meta %}
              <li class="mb2 mb3-ns">
                <span class="teal">{{ meta[0] }}</span>
                <br />{{ meta[1] }}
              </li>
            {% endfor %}
          </ul>
          <div class="fl w-100 w-60-ns mt4 mt0-ns">
            {{  page.intro }}
          </div>
        </div>
      {% else %}
        <p class="f5 f4-ns">{{ page.intro }}</p>
        <p class="f5 black-80 monospace">{{ page.date | date: '%b %d, %Y' }}</p>
      {% endif %}
  </header>

  <div class="fadeInAmate post-body" itemprop="articleBody">
    {{ content }}
  </div>

  {% include pagination.html %}

</article>
