---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="ph3 ph7-l pv5 bg-navy white clearfix">
    <h1 class="tc mb4 mb5-ns" itemprop="headline">{{ page.title }}</h1>
    <ul class="fl w-100 w-40-ns list f5">
      {% for meta in page.meta %}
        <li class="mb2 mb3-ns">
          <span class="teal b">{{ meta[0] }}</span>
          <br />{{ meta[1] }}
        </li>
      {% endfor %}
    </ul>
    <div class="fl w-100 w-60-ns mt4 mt0-ns">{{  page.intro }}</div>
  </header>

  <div class="serif fadeInAmate" itemprop="articleBody">
    {{ content }}
  </div>

  {% include pagination.html %}

</article>
